bun.lockb
.bun/
node_modules/

.env
.envrc


logs/
*.log
*.out
*.err

dist/
build/
coverage/
.tmp/
.temp/
.cache/
.out/


.vscode/
.idea/
*.swp
*.swo
*.DS_Store


packages/db/prisma/migrations/
*.db
*.sqlite
*.sqlite-journal


docker/*.log
docker/*.pid
docker-compose.override.yml
*.pid
*.seed

Thumbs.db
.DS_Store
*.bak
*.tmp
*.orig

*.tsbuildinfo